@model List<CRUD.Models.Student>

<h2>Danh sách sinh viên</h2>
<a href="/Student/Create">Thêm sinh viên</a>
<br /><br />

<table border="1" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Họ tên</th>
        <th>GPA</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.GPA</td>
        </tr>
    }
</table>
